<nav class="navbar navbar-rxpand-lg navbar-light bg-light">
    
        <a class="nav-link" href="/" class="btn btn-primary">Home</a>
        <% if (currentUser) { %>
        <a href="/users/<%= currentUser._id%>"><%= currentUser.username %>'s Profile</a>
        
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Sign Out" class="btn btn-danger" />
            </form>
        
        <% } else { %>
        <a class="nav-link" href="/users/new" class="btn btn-primary">Sign Up</a>
        <a class="nav-link" href="/sessions/new" class="btn btn-primary">Sign In</a>
        <% } %>
    
</nav>