<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/header.ejs') %>
</head>
<body>
    <div class="container">
    <%- include ('./partials/nav.ejs') %>
    <h1>Welcome to the Movie Collection!</h1>
    <img src="/images/cinema.jpg" width="70%">
    <p>Create a library of your movies, and add your own reviews</p>
    <% if (!currentUser){ %>
        <a href="/users/new" class="btn btn-primary" role="button">Sign Up</a>
        <a href="/sessions/new" class="btn btn-primary" role="button">Sign in</a>
    <% } %>
    <% if(currentUser){ %>
    <a href="/users" class="btn btn-primary" role="button">Show Users</a>
    <a href="/movies" class="btn btn-primary" role="button">Show Movies</a>
    <%}%>
</div>
</body>
</html>