<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/header.ejs')%>
<script src="/scripts/search.js"></script>
</head>
<body>
    <div class="container">
    <h1>Movie Detail</h1>
    <div id="results">
    </div>
    <form action="/" method="POST"></form>
</div>
<script>

    $(()=>{
        let imdbID = ejs.render('<%=imdbID%>');
        addMovieToCollection(imdbID);
    })

</script>
</body>
</html>