<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <div class="container">
    <h1>Movie Collection Movies<h1>

        
        <h3>Current Movies</h3>
        <ul>
            <% for (let i=0; i<movies.length; i++) { %>
                <li>
                    <a href="/movies/<%=movies[i]._id %>"><%= movies[i].title %></a>
                </li>
                <% } %>
            </ul>
            <a href="/movies/new" class="btn btn-primary">Enter a new movie</a>
        
            <a href="/movies/search" class="btn btn-primary">Search Online for Movies</a>
            <a href="/" class="btn btn-primary">Home</a>
        </div>
</body>
</html>