<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/header.ejs')%>
<script src="/scripts/search.js"></script>
</head>
<body>
    <div class="container">
    <nav> <%- include ('../partials/nav.ejs') %> </nav>
    <h1>Movie Detail</h1>
    <form action="/movies/searchdetail/add/<%=imdbID%>" method="GET" class="form-group">
    <input type="submit" value="Add Movie" class="btn btn-primary"/></form>
    
    <div id="results">
    </div>
</div>
<script>

    $(()=>{
        searchByID(window.location.search.slice(8));
    })

</script>
</body>
</html>