<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/header.ejs')%>
<script src="/search.js"></script>
</head>
<body>
    <div class="container">
    <h1>Search Movies</h1>
    <form class="movie-search">
        <label>
            Title:
            <input type="text" name="title" id="title"/>
        </label>
        <input type="submit" value="Search" id="submit"/>
    </form>
    <div id="results">
    </div>
</div>
<script>
    $('form').on('submit', (event)=>{
        event.preventDefault()
        if ($('#title').val() != "") {
            searchMovieTitles($('#title').val());
        } else {
            alert("Please enter a title to search");
        }
    })

</script>
</body>
</html>