<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <div class="container">
    <h1>Edit User Info</h1>
    <form action="/users/<%=user.id%>?_method=PUT" method="POST" class="form-group">
        <label>
            Username:
            <input type="text" name="username" value="<%=user.username%>" class="form-control"/>
        </label>
        <!-- <label>
            Password:
            <input type="password" name="passwordHash" />
        </label> -->
        <label>
            First name:
            <input type="text" name="nickname" value="<%=user.nickname%>" class="form-control"/>
        </label>
        <input type="submit" value="Update" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>