<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <div class="container">
    <nav> <%- include ('../partials/nav.ejs') %> </nav>
    <h1>Movie Collection Users</h1>

    <a href="/users/new" class="btn btn-primary">Create a new User</a>

    <a href="/" class="btn btn-primary">Home</a>

    <h3>Current Users</h3>
    <ul>
        <% for (let i=0; i<users.length; i++) { %>
            <li>
                <a href="/users/<%=users[i].id %>"><%= users[i].username %></a>
            </li>
        <% } %>
    </ul>
</div>
</body>
</html>