<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/header.ejs') %>
</head>
<body>
    <div class="container">
    <h1>Sign up for Movie Collection</h1>

    <form action="/users" method="POST">
        <div class="form-group">
        <label>
            Username:
            <input type="text" name="username" class="form-control"/>
        </label><br>
        <label>
            Password:
            <input type="password" name="passwordHash" class="form-control"/>
        </label><br>
        <label>
            First name:
            <input type="text" name="nickname" class="form-control"/>
        </label><br>
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>
    </form>
</div>
</body>
</html>