<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>
        <h1><%= user.name %></h1>
        <h3>Hi <%=user.nickname%>!</h3>
        <h3>Here's your current collection of movies:</h3>
        <ul>
            <% if (user.movieCollection.length >0 ) {for (let i=0; i<user.movieCollection; i++){ %>
                <li>
                    <%= user.movieCollection[i].fullTitle %>
                </li>
            <%} } else { %>
                You don't have any movies in your collection yet, <a href="#">add some here!</a>
            <% } %>
        </ul>
        <a href="/users" >Return to User List</a>
        <a href="/" >Return to Home Page</a>
</body>
</html>